name: Project A CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3
      - name: Install dependencies
        run: |
          cd app
          npm install
          npm audit --audit-level=high

      - name: Build Docker Image
        run: |
          docker build -t project-a-big:latest ./app

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml
